@import './mixin';

.table-container {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: white;

}

.no-result {
    text-align: center;
    margin-top: 40px;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}



.thead-container {
    background: #ED5684;
    color: white;
    font-weight: 600;
}

.danger {
    @include button;
    border: 1px solid red;
    color: red;
}

.primary {
    @include button;
    border: 1px solid blue;
    width: 100px;
    color: blue;
}

.success {
    @include button;
    border: 1px solid Green;
    width: 100px;
    color: Green;
}

.table-td-container {
    display: flex;
    gap: 8px;
    justify-content: center;
}

td,th {
    text-align: center;
    padding: 9px;
    margin-top: 2px;
}

th {
    border: 1px solid black;

}

tr:nth-child(even) {
    background-color: #dddddd;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

